.personnels {
    margin-top: 30px;
    margin-left: 70px;
 
width: 93%;
display: flex;
flex-direction: column;
}

.break{
    display: flex;
    align-items: center;
    width: 31%;
      justify-content: space-between;
     
}

.listes h1{
    color: rgb(49, 47, 47);
    font-size: 26px;
     
}
.shadowedTable {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  overflow: visible;
  width: 100%;
  height: auto;
  background-color: white;
  padding: 16px;
    animation: fadeIn 1s ease-in-out;

}

.listes {
    margin-right: 10px;
}

.cardDivision {
   animation: fadeIn 1s ease-in-out;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    gap:  30px;
    display: flex;
    width: 100%;
    background-color: #f5f9fa ;
    border-color:  #1B6979;
    border-radius: 25px;box-shadow: 0 2px 2px #E0F9FE;
    padding: 10px;
  user-select: none;

}

.btn1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    background-color: transparent;
    padding: 13px;
    border-radius: 4px;
    cursor: pointer;
}
.btn1 h2{
    font-size: 18px;
    color: #676767;
}

.btn1:hover{
    background-color: rgba(234, 241, 241, 0.432);
}
.chiffre {
    width: 40px;
    padding: 10px;
    background-color:  #DAE4E6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}

.chiffre h2{
    color: #4C8995;
    font-weight: bold;
    font-size: 19px;

}

 
.cardTab {
    margin-top: 50px;
     width: 100%;
     background-color: white;
     border: 1px solid rgba(0,0,0,0.1);
     border-radius: 20px;
     padding: 10px;
   display: flex;
   flex-direction: column;
align-items: flex-start;

}

.searchBar {
    display: flex;
    padding: 15px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.searchBar button {
    padding: 14px ;
    padding-left: 33px;
    padding-right: 30px;
    outline: none;
    border: none;
    overflow: hidden;
    border-radius: 8px;
    background-color: #1B6979;
    box-shadow: 0 7px 7px rgba(0,0,0,0.1);
    cursor: pointer;

}

.searchBar button:hover {
    background-color: #14535f;
    
}

.searchB {
    width: 18%;
    background-color: #e7edee;
    border-radius: 8px;
    border: 3px solid transparent;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    margin-right: 35px;
}

.searchB input {
    font-size: 18px;
    border: none;
    background-color: transparent;
     outline: none; 
  box-shadow: none;
  padding: 5px;
  width: 78%;
  color:  #676767;
}

.searchB i{
    padding-right: 15px;
    color: #14535f;
    font-size: 22px;
}

.searchB:hover{
    border: 3px solid  #14535f;
}

.tableau {
    margin-top: 10px;
    width: 98%;
      padding-right: 30px;
    padding-left: 20px;
    height: 100%;
    user-select: none;
}

.largeRow {
  font-size: 18px;
  height: 60px;
}

.largeRow td {
  padding: 20px !important;
  cursor: pointer;
}

.largeHeader th {
  font-size: 18px;
  padding: 20px !important;
}

/* personnels.module.css */
.iconCircle {
  background-color: white;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}
.iconCircles {
  background-color: white;
  border-radius: 50%;
  padding: 11px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.iconCircle:hover {
  transform: scale(1.2);
}
.iconCircles:hover {
  transform: scale(1.2);
}


.supp{
  margin-top: 7px;
  display: flex;
  align-items: center;
width: 100%;
justify-content: flex-end;
gap: 20px;


}
.supp1 button{
  border:  none;
  overflow: hidden;
  padding: 15px;
  font-size: 17px;
  border-radius: 50%;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
}

.supp1 button:hover{
 background-color: #e4f4f7;
}

.supp2 button{
    border:  none;
  overflow: hidden;
  padding: 17px;
  font-size: 18px;
  border-radius: 50%;
  background-color:transparent;
  font-weight: bold;
  cursor: pointer;
  color:#4C8995;
     transition: opacity 0.2s ease;
}

.supp2 button:hover{
  background-color: #e4f4f7;
}

.supp2 button:active {
  opacity: 0.6;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width : 1780px) {
    .listes h1{
      font-size: 21px;
    }
   
    .break{
      width: 29%;
    }
    .shadowedTable{
      padding: 0px;
      margin: 0;
    }
    .searchB{
      width: auto;
    }
    .searchB input{
      width: 100%;
    }
 
}

@media (max-width : 1400px) {
   .personnels{
    margin-top: 4px;
    margin-left: 0;
    padding-left: 20px;
   }
  .break{
    width: 30%;
  }
 
  .listes h1{
    font-size:18px;
  }
  .btn1{
    width: 100%;
  }
  .btn1 h2{
    font-size: 14px;
  }
  .chiffre{
    padding: 4px;
    width: 30px;
  }
  .chiffre h2{
    font-size: 14px;
  }
  .cardDivision{
    margin-left: 35px;
    margin-top: 14px;
    padding: 5px;
    width: 100%;
    
  }
  .cardTab{
    padding: 4px;
    margin-left: 37px;
    margin-top: 20px;
  }
  .flexible{
    width: 30%;
  }
  .debut{
    width: 150px;
    padding: 10px;
  }
  .debut label{
    font-size: 14px;
  }
  .debut i{
    font-size: 15px;
  }
  .trier {
    width: 150px;
  }
  .trier button{
    padding: 10px;
  }
  .trier span{
    font-size: 14px;
  }
  .trier i{
       font-size: 14px;
  }
     .searchB{
      width: auto;
      padding: 10px;
    }
    .searchB input{
      width: 100%;
      font-size: 14px;
    }
    .searchB i{
      font-size: 15px;
    }
    .shadowedTable{
      box-shadow: none;
    }
    .tableau{
  height:auto
    }
    .largeRow{
      font-size: 13px;
    }
  .searchB {
      border: 2px solid transparent;
  } 
  .searchB:hover{
      border: 2px solid #1B6979;
  }

.largeHeader th {
  font-size: 13px;
}
.iconCircle{
  padding: 7px;
}
.iconCircles{
  padding: 7px;
}
.searchBar button{
  padding:12px;
  font-size: 11px;
}
.jk{
  display: flex;
  align-items: center;
}
.jk i{
  font-size: 14px;
}
.jk span{
  font-size: 14px;
}
}